In [6]:
pip install faker

Requirement already satisfied: faker in /usr/local/lib/python3.10/dist-packages (26.1.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [5]:
from faker import Faker

fake = Faker('es_CO')

with open('estudiantes.sql', 'w') as f:
    f.write("-- Insertar datos de ejemplo en la tabla Estudiante\n")
    f.write("INSERT INTO Estudiante (id_estudiante, nombres, apellidos, fecha_nacimiento, id_carrera, email, telefono, direccion) VALUES \n")

    for i in range(1, 1001):
        nombres = fake.first_name()
        apellidos = fake.last_name()
        fecha_nacimiento = fake.date_of_birth(minimum_age=18, maximum_age=25)
        id_carrera = 1
        email = fake.email()
        telefono = fake.phone_number()
        direccion = fake.address().replace('\n', ', ')

        if i < 1000:
            f.write(f"({i}, '{nombres}', '{apellidos}', '{fecha_nacimiento}', {id_carrera}, '{email}', '{telefono}', '{direccion}'),\n")
        else:
            f.write(f"({i}, '{nombres}', '{apellidos}', '{fecha_nacimiento}', {id_carrera}, '{email}', '{telefono}', '{direccion}')\n")

    f.write("ON CONFLICT (id_estudiante) DO NOTHING;")

In [7]:
import random

# Parámetros
num_students = 1000
num_classes = 40  # Según la lista de clases que proporcionaste
start_id_note = 1

# Función para generar el script SQL
def generate_insert_statements():
    statements = []
    note_id = start_id_note

    for student_id in range(1, num_students + 1):
        # Genera dos notas para dos clases diferentes
        for _ in range(2):
            class_id = random.randint(1, num_classes)
            grade = round(random.uniform(5.0, 10.0), 1)  # Nota entre 5.0 y 10.0
            statements.append(f"( {note_id}, {student_id}, {class_id}, {class_id}, {grade} )")
            note_id += 1

    return statements

# Crear el archivo SQL
with open('notas.sql', 'w') as f:
    f.write("INSERT INTO Nota (id_nota, id_estudiante, id_curso, id_clase, nota) VALUES \n")
    f.write(",\n".join(generate_insert_statements()))
    f.write(";\n")